### Todays topics:
- Sets
- Special Functions
- Modules and Packages

In [9]:
li = [1,2,3,4,2,1,3,5,6,4,6]
d = {1:2,2:2,3:2,4:2,5:1,6:2}
s = str(li)
print(s)
s[3]
d1 = {}
for i in li:
    d(i)=li.count
d

SyntaxError: can't assign to function call (<ipython-input-9-6349cdbd5cfe>, line 8)

1. set is collection of unordered data
2. set is a collection of heteriogeneous data
3. don't support slicing
4. set doesn't allow duplications. 
5. set is mutable..

In [77]:
s = {1,'hello',12.5}
s

{1, 12.5, 'hello'}

In [65]:
t = (1,2,3)
t

(1, 2, 3)

In [66]:
t = list(t)  ##convert tuple to list
t

[1, 2, 3]

In [67]:
t[0] = 22
t

[22, 2, 3]

In [68]:
t = tuple(t)  ##convert list to tuple
t

(22, 2, 3)

In [138]:
s = {1,2,3}
s

{1, 2, 3}

In [167]:
s = list(s)  ###we need to  convert the given set into list then uupdate it,.
s[0] = 9
s
s = set(s)
s

{(22, 2, 3), 9}

In [168]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [169]:
s.update(s)  #we need to use strings or defined varibles.
s

{(22, 2, 3), 9}

In [170]:
s.add(t)  # we can add value to it and defined variable
s

{(22, 2, 3), 9}

In [171]:
s1 = {1,2,3}
s2 = {2,4,6}
s2.add(8)
s3 = s2.copy()
s3

{2, 4, 6, 8}

In [172]:
s1 = {1,2,3}
s2 = {2,4,6}
s2.add(8)
s3 = s2.copy()
s3.add(10)
s3

{2, 4, 6, 8, 10}

In [173]:
s1 = {1,2,3}
s2 = {2,4,6}
s2.add(8)
s3 = s2.copy()
s3.add(10)
s3
s2.difference_update(s1)
s2

{4, 6, 8}

In [174]:
s.discard(2)
s

{(22, 2, 3), 9}

In [175]:
print(s1)
print(s2)
print(s3)

{1, 2, 3}
{8, 4, 6}
{2, 4, 6, 8, 10}

In [176]:
s3.intersection_update(s2)
s3

{4, 6, 8}

In [177]:
s3.isdisjoint(s2)

False

In [178]:
s2.issubset(s3)

True

In [179]:
s3.issuperset(s2)

True

In [180]:
s.pop() #it removes any one element
s

{(22, 2, 3)}

In [181]:
s3.pop()

8

In [182]:
s3.remove(4)
s3

{6}

In [188]:
s2.discard(10)  # it remove the value but if the key is not there then also it gives the o/p.
s2

{4, 6}

In [189]:
s = {1,2,3}
s1 = {2,3,4}
s1.symmetric_difference(s)

{1, 4}

In [190]:
s.union(s1)

{1, 2, 3, 4}

In [192]:
s.update(s1)
s

{1, 2, 3, 4}

In [194]:
s1.symmetric_difference_update(s)
s1

{2, 3, 4}

In [209]:
l1 = []
for i in range(0,11):
    ##if i%2 == 0:
        l1.append(i)
        
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [210]:
l1 = []
for i in range(0,11):
    if i%2 == 0:
        l1.append(i)
        
l1

[0, 2, 4, 6, 8, 10]

In [211]:
### Comprehensions....
l1 = [i for i in range(1,11) if i%2 == 0]
l1

[2, 4, 6, 8, 10]

In [223]:
def Is_Prime(n):
    cnt = 0
    for i in range(1,n):
        if n%i == 0:
            cnt+=1
        else:
            return False
Is_Prime(5)

False

In [226]:
prime_list = {i for i in range(1,100) if Is_Prime(i)}
prime_list

set()

In [228]:
d = {i:i**3 for i in range(1,11)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [237]:
s = 'abbcccddddeef'
s = {i:s.count(i) for i in s}
s

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 2, 'f': 1}

In [242]:
### Lambda
def add(a1,a2):
    return a1+a2
add(2,3)

5

In [254]:
"""var = lambda arg:expression"""
i = lambda a,b,c:a+b+c
i(3,6,8)

17

In [263]:
s = 'APSSDC'
for i in s:
    print(i) ##the whole string prints one by one..
print(i) ##by using this the last value only prints..

A
P
S
S
D
C
C