### Strings Continution...
### Data Structures in Python:
    .LIST
    .TUPLE
    .DICTIONARIES
    .SETS

In [1]:
g = 'Python Programming'
g

'Python Programming'

In [2]:
dir(g)  ## To  open the directory..

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
g.center(4)

'Python Programming'

In [8]:
g.center(10,"r")

'Python Programming'

In [9]:
len(g)

18

In [27]:
a = "My name is  : {}, roll no is : {}, email id is : {}"
name = "LOkesh kumar"
rollno = "Y19EC094"
email = "lokeshkumarkonbeti@gmail.com"
a.format(name,rollno,email)

'My name is  : LOkesh kumar, roll no is : Y19EC094, email id is : lokeshkumarkonbeti@gmail.com'

In [28]:
len(a)

51

In [33]:
a = "Python programming"  ## to count the number of that letter..
a.count("r")

2

In [34]:
## isalpha
g.isalpha()

False

In [35]:
a = "ECE143"
a.isalnum()

True

In [36]:
a = "ECE143#"
a.isalnum()  # both numbers and digits but not special characters

False

In [44]:
r = "abc23"
r.isascii()

True

In [47]:
g1 = "123"
g1.isdigit()  # only for numbers::only string formatted data is applicable

True

In [64]:
a = "Lokesh_kumar"
a.find("ku")

7

In [65]:
# Replace
a.replace('Lokesh_kumar','KLK')

'KLK'

In [66]:
a

'Lokesh_kumar'

In [76]:
name = "Lokesh kumar"
name.swapcase()

'lOKESH KUMAR'

In [84]:
name.translate(g1)

'Lokesh kumar'

In [71]:
d = {83 : 91}
s = "Hello APSSDC"  # it changes the letter based upon ascii values.
s.translate(d)

'Hello AP[[DC'

In [15]:
# startswith
a = 'Python'
a.startswith('y') # it shows true if given letter is starts the word.otherwise false

False

In [20]:
# index
a.index('th') # it shows the index value..

2

In [25]:
l = "BESTIE"
l.isupper()

True

In [26]:
k = " friend is forvever"
k.islower()

True

In [33]:
## Calculate the length of the string without len():
j = " Python Programming for ECE Dept....."
cnt = 0
for i in j :
    cnt+=1
print(cnt)

37

In [36]:
j = " Python Programming for ECE Dept....."
cnt = 0
for i in j :
    cnt+=1  ## it prints the given string count n types..
    print(j)

 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....
 Python Programming for ECE Dept.....

In [47]:
# To print only ece in the given string:
j[-13:-10]

'ECE'

In [74]:
# To print only vowels in capital letter
# consider vowels in different str then  use "upper" to capitalize those:
a = 'abceioudefaeiopunjklfvm'
s1 = "aeiou"
for i in a:
    if i in s1:
        print(i.upper(),end = "")
    else:
        print(i,end = '')
#s1.upper()

AbcEIOUdEfAEIOpUnjklfvm

## ord :  gives ascii value..
## chr : gives the character for the ascii value..

In [60]:
### "ord" and "chr":
ord('s') # gives ascii value..
ord('S')

83

In [61]:
chr(83) # gives the character for the ascii value..

'S'

In [72]:
chr(94)

'^'

#### Task--1:
 abc->def
 mno->pqr
 we need to add 3 for ascii value.
 
#### Task--2:
s = "APSSDCAPSSDC"---------------->Input

res = "APS$DCAP$$DC"-------------->Output.

#### Task --3:

g = 'ABCefg123@$'ABCabc'
-Upper,Lower,Special Symbols,len

### Data Structures in Python:
#1. list:
 - it can stores the different data types like strings,integers,floating values,.....
 - Denotes []  or list ()

In [77]:
l = [] # empty list
print(type (l))

<class 'list'>

In [134]:
l1 = ['lokesh',3434,89.34,'RVR',2000.2,'kumar','kondeti',[1,2,34,5,6]]
print(l1)

['lokesh', 3434, 89.34, 'RVR', 2000.2, 'kumar', 'kondeti', [1, 2, 34, 5, 6]]

In [106]:
l1[5]

'kumar'

In [107]:
l1[5:7] # slicing is working on frwd only ,if we use bckwrd cant get last one

['kumar', 'kondeti']

In [112]:
l1[-1]

[1, 2, 34, 5, 6]

In [113]:
l1[-1][2] # to get value of list of list

34

In [116]:
l1[::-1] # to reverse the whole list.

[[1, 2, 34, 5, 6], 'kondeti', 'kumar', 2000.2, 'RVR', 89.34, 3434, 'lokesh']

In [117]:
l1 = l1[::-1]

In [118]:
l1

[[1, 2, 34, 5, 6], 'kondeti', 'kumar', 2000.2, 'RVR', 89.34, 3434, 'lokesh']

In [122]:
# to del the given one.
a = "SDC"
b = [1,2,34,4,5]
del(b)
print(b)

NameError: name 'b' is not defined

In [123]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [135]:
l1.reverse()
print(l1)

[[1, 2, 34, 5, 6], 'kondeti', 'kumar', 2000.2, 'RVR', 89.34, 3434, 'lokesh']

In [161]:
a = [1,2,3,4,5,6]
b = [10,20,30,40,50,60]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60]

In [162]:
c.append('Kumar')
print(c)

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60, 'Kumar']

In [163]:
c.count(2)

1

In [164]:
cp = c.copy()

In [165]:
c

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60, 'Kumar']

In [166]:
cp

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60, 'Kumar']

In [167]:
c.append(10)

In [168]:
c

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60, 'Kumar', 10]

In [169]:
cp

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60, 'Kumar']